<table>
  <tbody>
    <tr><th>Service URL</th><td><input type="text" id="service_url" value="<%= settings['service_url'] %>" name="settings[service_url]"/></td></tr>
    <tr><th>Channel ID</th><td><input type="text" id="channel_id" value="<%= settings['channel_id'] %>" name="settings[channel_id]"/></td></tr>
    <tr><th>Client ID</th><td><input type="text" id="client_id" value="<%= settings['client_id'] %>" name="settings[client_id]"/></td></tr>
    <tr><th>Client Secret</th><td><input type="text" id="client_secret" value="<%= settings['client_secret'] %>" name="settings[client_secret]"/></td></tr>
    <tr><th><p><label for="only_assign"><%= check_box_tag("settings[only_assign]", true, @settings['only_assign'] ) %>Notify only when assignee changed</label></p></th><td></td></tr>
    <tr><th></th><td><%= link_to 'Test', { controller: 'settings/msteams', action: 'test'} %></td></tr>
  </tbody>
</table>
